[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "ICGE"]
	path = ICGE
	url = https://github.com/cran/ICGE
	shallow = true
	registered = true
